/* @media screen and (min-width: 521px) and (max-width: 1150px)*/
@media screen and (min-width: 1025px){
	.center {
		width: 90%;
	}
	
	.side {
		width: 5%;
	}
	.nav {
		width: 50%;
	}

	.headcontainer {
		padding-bottom: 200px;
	}

	.ingress {
		width: 50%;
		text-align: center;
		padding-left: 200px;
		padding-right: 25px;
	}

	.containermob, #projectsmob, .stackedbar, .message {
		display: none;
	}
	
}
